<!DOCTYPE html>
<html>
<head>
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
    <!-- <script type="module" src="{{ url_for('static', filename='app.js') }}"></script> -->

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    
    






</head>
<body>
    
<div id="map"></div>
<div id="search">
    <h1>Real-time Bike Station Search</h1>
    <p>Type your destination</p>
    <img src="https://api.cyclocity.fr/contracts/dublin/newsimages/045a30d2-1eca-4aa1-a815-a6bf94340a22" alt="homeimage" style="width:500px;height:300px;">
    <div class="login"><button class="button">Starting location</button>
    <button class="button">Destination</button>

        <input id="search_des">

</div>
</div>

<!--
The `defer` attribute causes the callback to execute after the full HTML
document has been parsed.-->
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUKrfyRGhJ_UoLWPm9g7D6AFmloZQOXsw&libraries=places&callback=initMap&v=weekly"
    defer
></script>
<!-- <input type="checkbox" id="heatmap-checkbox" onclick="drawHeatmap($(this))"> -->


</body>
</html>